.footer{
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    text-align: center;
    text-align: center;
    color: #222222;
}
.footer h2 {

    font-size: 16.6531px;
    line-height: 20px;
}
.footer-text{
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    text-align: center;
    color: #73738D;
    
}
@media (max-width: 48em) {
    .footer{
        width: 100vw;
    }
}