.notifications{
    margin: auto;
}
.notification{
    display: flex;
    width: 379.79px;
    height: 66.53px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 150%;
    box-shadow: 0px 4px 8px #E5E5E5;
    border-width: 0px;
    border-radius:20px;
}

.user-img{
    width: 33.27px;
height: 33.27px;
margin-top:15px;
margin-right: 10px;
margin-left: 20px;
}

.notification-text{
margin-top:15px;
    color: #222222;
}

.reminders{
    display: inline;
    max-width: 330px;
    margin-right: 100px;
}

.title-1{
    font-size: 24.95px;
line-height: 30px;
    color: #222222;
}
.paragraph-reminder{
    max-width: 330px;
    font-weight: 500;
font-size: 14.5542px;
line-height: 150%;
}
.info{
    margin-top: 50px;
}
.details-text{
font-weight: 500;
font-size: 11.0889px;
line-height: 150%;
}
.details-img{
width: 9.24px;
height: 6.93px;
}
.details-1{
    margin-top: -10px;
    padding-inline-start: 0px;
    float: left;
    width: 130px;
}
.details-2{
    margin-top: -10px;
    padding-inline-start: 0px;
    float: left;
    width: 190px;
}
.refresh-circle{
position: absolute;
width: 51.98px;
height: 51.98px;
}
.refresh-arrows{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
width: 40px;
height: 40px;
}

.refresh-img{
    padding-top: 100px;
    margin: auto;
    width: 800px;
    height: 70px;
}

.acc-sync{
    margin: auto;
    width: 800px;
}

.reminders-2{
    width: 330px;
    float: left;
}

.user-data{
    margin-left: 70px;
    box-shadow: 0px 4px 8px #E5E5E5;
    border-width: 0px;
    border-radius:20px;
    width: 400px;
    float: left;
}

.user-photo{
    margin-left: 20px;
    position: absolute;
    width: 41.58px;
    height: 41.58px;
}

.user-name{
    margin-left: 70px;
    width: 400px;
    font-weight: 600;
font-size: 16.6333px;

color: #222222;
}

.user-job{
    margin-left: 70px;
    font-weight: 500;
font-size: 11.0889px;
line-height: 13px;

color: rgba(34, 34, 34, 0.8);
}

.user-info{
    
font-weight: 500;
font-size: 11.0889px;
line-height: 120%;
margin-bottom: 15px;
}